body {
  /* background-color: #faf8ff; */
  background-color: #eeeeee;
  /* background-color: #e3e0f3; */
}

.fade {
  display: flex !important;
  align-items: center;
}

.Toastify__toast-body {
  color: #6c757d;
}

.form-control {
  height: 40px;
}

.btn-sm {
  height: 35px;
}