.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.channelTitle {
    font-size: 1rem;
    margin-top: 0.8rem;
}

.description {
    font-size: .8rem;
    color:#606060;
    text-align: left;
    margin-top: 0.8rem;
}

.card {
    padding: 1rem;
    border: none;
    margin: 1rem;
}


.card-img-top {
    cursor: pointer;
}

.gray {
    background-color: #e3e3e3;
}

.border-none {
    border-radius: 15px;
}

.card-header {
    border-bottom: none;
    padding: none;
    background-color:rgba(0,0,0,0);
}

.accordion-card {
    background-color:rgba(0,0,0,0);
}